@charset "UTF-8";

body {
    margin: 0%;
    padding: 0%;
}
header {
    background-color: #000000de;
}
header h1 {
    color: white;
}
header p {
    color: white;
}
#conteinerq1 {
    position: relative;
    background-image: url(imagens/background001.jpg);
    height: 96vh;

}
#conteudoq1 {
    position: absolute;
    background-color: blueviolet;
    height: 550px;
    width: 500px;
    padding: 10px;


}

#conteinerq2 {
    position: relative;
    background-image: url(imagens/background002.jpg);
    height: 96vh;

}

