@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}
:root {
    
}

body {
    min-height: 100vh;
}
header {
    background-color: #000000de;
}
header h1 {
    color: white;
}
header p {

    background-color: aquamarine;
}

footer {
    background-color: aquamarine;
}

