@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 10vh;/*funçao faz a fonte aumentar e diminuir quando a tela for maior ou menor*/
    font-family: var(--fonte2);
    padding: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a {
    color: white;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

header a:hover {
    background-color: #a7f1d9;
    border-radius: 5px;
    color: blue;
    transition: 1s;
    padding: 3px;
}

section {
    font-size: 4vh;
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 10px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.178);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section.imagem {
    background-color: #69da4d;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.651);
    background-attachment: fixed;
}


section#img1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img2 {
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: bold;
}

footer a:hover {
    background-color: #a7f1d9;
    border-radius: 5px;
    color: blue;
    transition: 1s;
    padding: 3px;

}